.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    opacity: 0;
    top: 50%;
    width: 30px;
    float: left;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    margin-right: 5px;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.loader::after { 
   content: "";
   display: block; 
   clear: both;
}